object {{ container.name|upper_camel }} {

{%- for m in container.methods %}

  /** {{ m.docs }}*/
  def {{ m.name|lower_camel }}({% for p, t in m.params.items() %}{{ p }}: {{ t }}{% endfor %}): {{ m.returns }} = {

  }
  {%- endfor %}
}
{# newline at end of file #}
