{% import "macros.j2" as macros %}

package com.example.implicits

import org.apache.spark.sql.DataFrame
import com.example.{{ container.name|upper_camel }}

object {{ container.name|upper_camel }}Impl {

  {% for m in container.methods %}

  implicit class {{ m.name|upper_camel }}MethodsImpl(df: {{ m.params.pop("df") }}) {
    {{ macros.scala_docs(m.docs) }}
    def {{ m.name|lower_camel }}({{ macros.show_params_and_types(m.params) }}: {{ m.returns }} = {
      {{ container.name|upper_camel }}.{{ m.name|lower_camel }}({{ macros.show_params(m.params) }})
    }
  }

  {% endfor %}
}
