{%- macro scala_docs(method) -%}
  /** {{ method.docs }}
    *{% for p, t in method.params.items() %}}
    * @params {{ p }} {{ t.get("type") }}{% if t.get("doc") %} - {{ t.get("doc") }}{% endif %}{% endfor %}
    *{% if method.returns %} @return {{ method.returns }}{% endif %}
    */
{%- endmacro -%}

{% macro python_docs(method) %}
    {%- if method.docs != None -%}
    """
    {{ method.docs }}
    {%- for p, t in method.params.items() -%}}
    :param {{ p }}: {% if t.get("doc") %}{{ t.get("doc") }}{% endif %}
    :type {{ p }}: {{ t.get("type") }}{% endfor %}
    {% if method.returns %}:return:  {{ method.returns }}{% endif %}
    """
    {%- endif %}
{% endmacro %}

{% macro r_docs(name, docs, params) %}
#' {{ name|lower_camel }}
#'
#' {{ docs }}
#' @param sc
{% for p in params -%}
#' @param {{ p }}
{% endfor -%}
#'
#' @return
#' @export
#'
#' @examples
{% endmacro %}

{% macro show_params(params) %}
	{%- set length = params|length -%}
    {%- for p in params -%}
    	{%- if loop.index == length -%}
    		{{ p }}
    	{%- else -%}
    		{{ p }},
    	{%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% macro python_to_java_params(params) %}
	{%- set length = params|length -%}
    {%- for p in params -%}
    	{%- if loop.index == length -%}
    		{{ p }}
    	{%- elif p == "df"-%}
    	    {{ p }}._jdf,
    	{%- else -%}
    		{{ p }},
    	{%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% macro show_params_types_defaults(params) %}
    {%- set length = params|length -%}
    {%- for p, v in params.items() -%}
        {%- if v.get("default") -%}
            {%- if loop.index == length -%}
                {{ p }}: {{ v.get("type") }} = {{ v.get("default") }}
             {%- else -%}
                {{ p }}: {{ v.get("type") }} = {{ v.get("default") }}, {# comment in order to get whitespace #}
            {%- endif -%}
            {%- if loop.index == length -%}
                {{ p }}: {{ v.get("type") }}
             {%- else -%}
                {{ p }}: {{ v.get("type") }}, {# comment in order to get whitespace #}
            {%- endif -%}
        {%- endif -%}
    {%- endfor -%}
{% endmacro %}

{% macro r_params(name, params) %}
    sc=sc,
    class="com.example.{{ name|upper_camel }}",
    method="{{ name|lower_camel }}",
    {%- set length = params|length -%}
    {%- for p in params -%}
    {% if loop.index == length %}
    {{ p }}={{ p }}
    {%- else %}
    {{ p }}={{ p }},
    {%- endif %}
    {%- endfor -%}
{% endmacro %}